<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Al-Quran {{surat_name}} -- Abjad-e-Qamari -- Faiz-e-Hussaini</title>
    <style>
        {{style}}
    </style>
</head>
<body>
    <div class="toggle-panel-container container">
      <button id="toggle-panel-button" class="toggle-panel-button">
        <i class="fa fa-chevron-up"></i>Close Settings
      </button>
      <div class="toggle-panel">
        <div class="toggle-panel-content">
          <div class="toggle-section">
            <div class="toggle-section-title">التحليل</div>
            <div class="toggle-section-content">
              <div class="toggle-item">
                <label class="toggle-switch">
                  <input type="checkbox" id="toggle-calculation" checked />
                  <span class="slider"></span>
                </label>
                <label for="toggle-calculation">حساب الجمل</label>
              </div>

              <div class="toggle-item">
                <label class="toggle-switch">
                  <input type="checkbox" id="toggle-totals" checked />
                  <span class="slider"></span>
                </label>
                <label for="toggle-totals">المجموع</label>
              </div>
            </div>
          </div>

          <div class="toggle-section">
            <div class="toggle-section-title">التراجم</div>
            <div class="toggle-section-content">
              <div class="toggle-item">
                <label class="toggle-switch">
                  <input type="checkbox" id="toggle-translation-urdu" checked />
                  <span class="slider"></span>
                </label>
                <label for="toggle-translation-urdu">اردو</label>
              </div>

              <div class="toggle-item">
                <label class="toggle-switch">
                  <input
                    type="checkbox"
                    id="toggle-translation-farsi"
                    checked
                  />
                  <span class="slider"></span>
                </label>
                <label for="toggle-translation-farsi">فارسی</label>
              </div>

              <div class="toggle-item">
                <label class="toggle-switch">
                  <input
                    type="checkbox"
                    id="toggle-translation-english"
                    checked
                  />
                  <span class="slider"></span>
                </label>
                <label for="toggle-translation-english">English</label>
              </div>

              <div class="toggle-item">
                <label class="toggle-switch">
                  <input
                    type="checkbox"
                    id="toggle-translation-transliteration"
                    checked
                  />
                  <span class="slider"></span>
                </label>
                <label for="toggle-translation-transliteration">Transliteration</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="surah_header surah_name container">
        <div>{{surat_name}}</div>
    </div>
    <div class="surah_header bismillah container">
      <div>{{bismillah}}</div>
    </div>
    <div class="container">
        {{quran_data_html}}
    </div>
</body>
<script>
    {{script}}
</script>
</html>
